.Прези/
# Ігнорування всіх папок з назвою .ipynb у будь-якій директорії
**/.ipynb_checkpoints/
# Ігнорування всіх файлів .docx
*.docx
# Ігнорування всіх файлів .pdf
*.pdf
# Ігнорування всіх папок з назвою .idea у будь-якій директорії
**/.idea/
